<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/style.css">
    <title>Header</title>
</head>

<body>
    <header id="header">
        <nav class = "navbar">
            <img src="./images/Speaksavvy.jpg" alt="Logo">
            <ul class ="nav-menu">
                <li class="button"><a href="./">Home</a></li>
                <li class="button"><a href="./about.html">About Me</a></li>
                <li class="button"><a href="./services.html">Services</a></li>
                <li class="button"><a href="./testimonials.html">Testimonials</a></li>
                <li class="button"><a href="./faq.html">FAQ</a></li>
                <li class="button"><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>

</body>
</html>